/* General styling */
:root {
	max-width: 220mm;
	margin: 0 auto;
	font: menu;
	font-size: 116%;
	background: #fff;
	color: #000;
}

* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
}

details,
p {
	margin: 1em 0 0 0;
}

details summary ~ * {
	padding-left: 2em;
}

details ul,
details li {
	margin: 0;
	list-style: inside;
}

summary {
	cursor: pointer;
}

summary + p,
p:first-child {
	margin-top: 0;
}

p:last-child {
	margin-bottom: 1em;
}

/* Form controls */
input[type="button"],
input[type="file"] {
	width: 100%;
	padding: 1em;
	font-size: 116%;
	cursor: pointer;
}

input[type="file"] {
	background: #eef;
}

#filterForm input:not([type]),
#filterForm input[type="text"] {
	width: 100%;
	padding: 0.25em;
	font: inherit;
}

#filterForm .tip {
	font-size: 90%;
}

/* Errors */
#errors:not(:empty) {
	margin-bottom: 2em;
}

#errors pre {
	margin: 0.25em 0;
}

/* Labels */
#labels {
	width: 220mm;
}

#labels ul,
#labels li {
	list-style: none;
	margin: 0 2mm 2mm 0;
	padding: 0;
}

#labels li {
	display: inline-block;
}

.label {
	display: grid;
	grid-template-areas:
		"description   description   description"
		"regularPrice  sku           socialPrice"
		"barcode       barcode       socialText";
	width: 65mm;
	height: 36mm;
	overflow: hidden;
	outline: 1px solid #888;
	font: "Helvetica", "Arial", sans-serif;
	font-size: 5mm;
	background: #fff;
	color: #000;
}

.label .description {
	grid-area: description;
	width: 100%;
	height: 3.8em;
	padding: 0.125em;
	overflow: hidden;
	text-align: center;
	background: #ccc;
	color: #000;
}

.label .regularPrice {
	grid-area: regularPrice;
	padding-left: 1mm;
	text-align: left;
}

.label .socialPrice {
	grid-area: socialPrice;
	padding-right: 1mm;
	text-align: right;
}

.label .socialPrice,
.label .regularPrice {
	white-space: pre;
	font-size: 6mm;
	font-weight: bold;
	z-index: 2;
}

.label .socialPrice::first-letter,
.label .regularPrice::first-letter {
	font-size: 5mm;
	font-weight: 200;
}

.label .socialText {
	grid-area: socialText;
	padding-right: 1mm;
	text-align: right;
	font-size: 4mm;
}

.label .sku {
	grid-area: sku;
	text-align: center;
	color: #888;
}

.label .barcode {
	grid-area: barcode;
	transform-origin: top left;
	transform: scaleX(1.75) translate(-1mm, -1mm);
}

@media print {
	body > :not(#labels) {
		display: none;
	}

	#labels {
		margin-top: 10mm;
	}

	.label {
		outline: 0;
	}
}
